{% extends "rent_car/base.html" %} {% block content %}

<div class="container">
  <h1 class="my-4">Новости
  </h1>
  <div class="row">
    {% for ev_news in news %}
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item mt-3">
      <div class="card h-100">
        <a href="{% url 'show_news' pk=ev_news.pk %}">
          <img class="card-img-top" src="/media/{{ ev_news.image }}" alt="{{ ev_news.image }}">
        </a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="{% url 'show_news' pk=ev_news.pk %}">
              <h5 class="text-dark font-weight-light">{{ ev_news.title }}</h5>
            </a>
          </h4>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% if pages.count == 1 %}
<ul class="pagination justify-content-center">
  <li class="page-item">
    <a class="page-link" href="#" aria-label="Previous">
      <span aria-hidden="true">«</span>
      <span class="sr-only">Назад</span>
    </a>
  </li>
  {% for page in pages %}
  <li class="page-item">
    <a class="page-link" href="#">{{ page }}</a>
  </li>
  {% endfor %} {% if pages.count > 1 %}
  <li class="page-item">
    <a class="page-link" href="#" aria-label="Next">
      <span aria-hidden="true">»</span>
      <span class="sr-only">Далее</span>
    </a>
  </li>
  {% endif %}
</ul>
{% endif %} {% endblock %}