{% extends "rent_car/base.html" %}
{% block content %}
<section id="about">
        <div class="container mt-5">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Контакты</h2>
              <ul>
                <li>ОАО Компания «Аренда авто» 6230025, Россия, г.Москва, пер. Утренний, 1</li>
                <li>8-800-7700-262 (Бесплатно по России), +7 (499) 920-22-52 (Для звонков из-за границы)</li>
    
              </ul>
            </div>
          </div>
        </div>
      </section>
{% endblock %}