{% extends "rent_car/base.html" %} {% block content %}
<div class="container mt-5">
            
        <div class="container mt-5">
                <div class="row">
                  <div class="col-lg-12 text-center">
                    <h1 class="text-center font-weight-light"><a href="/category/1" style="text-decoration: none; color:black">Портфолио</a></h1>
                    <hr class="my-4">
                  </div>
                </div>
              </div>
              <div class="row text-center mt-3">
                
                <div class="col-lg-3 col-md-6 mb-4">
                  <div class="card">
                    <img class="card-img-top" src="/media/auto/big_41350_1.jpeg" alt="auto/big_41350_1.jpeg"> 
                    <div class="card-body">
                      <h4 class="card-title font-weight-light">Wolkswagen Golf</h4>
                      <p class="card-text">Двигатель: 1,8л</p>
            
                      <p class="card-text">Цена: 1500 р/сутки</p>
                    </div>
                    <div class="card-footer">
                      <a href="/car/5" class="btn  btn-warning btn-lg btn-block">Подробнее</a>
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-3 col-md-6 mb-4">
                  <div class="card">
                    <img class="card-img-top" src="/media/auto/citroen_berlingo_2006.jpg" alt="auto/citroen_berlingo_2006.jpg"> 
                    <div class="card-body">
                      <h4 class="card-title font-weight-light">Citroen Berlingo</h4>
                      <p class="card-text">Двигатель: 1,6л</p>
            
                      <p class="card-text">Цена: 1700 р/сутки</p>
                    </div>
                    <div class="card-footer">
                      <a href="/car/4" class="btn  btn-warning btn-lg btn-block">Подробнее</a>
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-3 col-md-6 mb-4">
                  <div class="card">
                    <img class="card-img-top" src="/media/auto/1500389826_716a4ebfe025ebef2f6c10083ee04542.jpg" alt="auto/1500389826_716a4ebfe025ebef2f6c10083ee04542.jpg"> 
                    <div class="card-body">
                      <h4 class="card-title font-weight-light">Kia Rio</h4>
                      <p class="card-text">Двигатель: 1,6л</p>
            
                      <p class="card-text">Цена: 1900 р/сутки</p>
                    </div>
                    <div class="card-footer">
                      <a href="/car/3" class="btn  btn-warning btn-lg btn-block">Подробнее</a>
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-3 col-md-6 mb-4">
                  <div class="card">
                    <img class="card-img-top" src="/media/auto/Lada_Vesta_cropped.jpg" alt="auto/Lada_Vesta_cropped.jpg"> 
                    <div class="card-body">
                      <h4 class="card-title font-weight-light">Lada Vesta</h4>
                      <p class="card-text">Двигатель: 1,6л</p>
            
                      <p class="card-text">Цена: 1300 р/сутки</p>
                    </div>
                    <div class="card-footer">
                      <a href="/car/1" class="btn  btn-warning btn-lg btn-block">Подробнее</a>
                    </div>
                  </div>
                </div>
                
              </div>

      
        <div class="container mt-5">
                <div class="row">
                  <div class="col-lg-12 text-center">
                    <h1 class="text-center font-weight-light"><a href="/category/1" style="text-decoration: none; color:black">API</a></h1>
                    <hr class="my-4">
                  </div>
                </div>
              </div>
                 
      </div>
<div class="container">
    <p>С помощью API вы можете создавать и настраивать проекты, добавлять поисковые системы и регионы, импортировать
        поисковые запросы (в том числе пакетно). Методы API позволяют проверять позиции, проверять частоту поисковых
        запросов, выполнять подбор ключевых слов и автоматическую группировку поисковых запросов (кластеризацию), собирать
        поисковые подсказки, получать статусы, стоимости и проценты готовности проверок и решать множество других задач.</p>

    <p>Используя API вы также сможете получать баланс, историю платежных операций (расходы) и статистику XML-лимитов
        для своих аккаунтов.</p>

    <p>API дает возможность разработчикам создавать приложения для работы с данными проектов. </p>
    <h5>Данные в формате JSON</h5>
</div>

{% endblock %}