{% block footer %}
    <footer class="footer">
        <div class="container">
            <h5 style="float: left">Rentcar - удобный прокат и аренда автомобилей в Москве.</h5>
             <div class="social">
                 <a href="#"><img src="media/social/hit.gif" alt="liveinternet"></a>
                 <a href = "#"><img src="media/social/vk.png" width="64" height="64" alt="vk"></a>
                 <a href="#"><img src="media/social/twitter.png" width="45" height="45" alt="twitter"></a>
                 <a href="#"><img src="media/social/insta.png" width="60" height="60" alt="instagram"></a>
                <a href="#"><img src="media/social/facebook.png" width="48" height="48" alt="facebook"></a>
             </div>
        </div>

    </footer>
{% endblock %}