{% block header %}
        <div class="header-menu">
        <div class="header-logo">
            RENTCAR
        </div>
        <div class="header-phone">
            <div>891620301267</div>
        </div>
        <ul class="header-navbar">
            <li class="nav-main"><a href="/">Арендовать машину</a></li>
            <li class="nav-main"><a href="info">Информация</a></li>
        </ul>
<ul class="menu">
    <li><a href=#>Меню</a>
        <ul class="submenu">
         <li class="nav-main"><a href="/">Арендовать машину</a></li>
            <li class="nav-main"><a href="rent_car/information.html">Информация</a></li>
        </ul>
    </li>
</ul>
    </div>
    <div class="header-title" style="background-image: url('media/banner.jpg'); background-repeat: no-repeat; background-size:100%;">
        <div class="container">
            <h1>Аренда авто</h1>
            <h3>Выберите подходящий вам автомобиль</h3>
        </div>
    </div>
{% endblock %}