{% extends "rent_car/base.html" %} {% block content %}
<header class="masthead bg-primary text-white text-center">
<img src="media/bckg.jpg" alt="background">

</header>

<div class="container mt-5">
  {% if cars_special %}
  <h1 class="text-center font-weight-light">Специальные предложения</h1>
  <div class="row text-center">
    {% for car in cars_special %}
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img class="card-img-top" src="/media/{{car.image}}" alt="{{car.image}}">
        <div class="card-body">
          <h4 class="card-title font-weight-light">{{ car.mark }}</h4>
          <p class="card-text">Двигатель: {{ car.engine }}</p>

          <p class="card-text">Цена: {{ car.price }} р/сутки</p>
        </div>
        <div class="card-footer">
          <a href="{% url 'car_info' pk=car.pk %}" class="btn  btn-warning btn-lg btn-block">Подробнее</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %} {% if cars_chip %}
  <h1 class="text-center font-weight-light mt-5">Бюджетные автомобили</h1>
  <div class="row text-center">
      {% for car in cars_chip %}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="/media/{{car.image}}" alt="{{car.image}}">
          <div class="card-body">
            <h4 class="card-title font-weight-light">{{ car.mark }}</h4>
            <p class="card-text">Двигатель: {{ car.engine }}</p>
  
            <p class="card-text">Цена: {{ car.price }} р/сутки</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'car_info' pk=car.pk %}" class="btn  btn-warning btn-lg btn-block">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
  {% endif %} {% if cars_premium %}
  <h1 class="text-center font-weight-light mt-5">Бизнес-класс</h1>
  <div class="row text-center">

      {% for car in cars_premium %}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="/media/{{car.image}}" alt="{{car.image}}">
          <div class="card-body">
            <h4 class="card-title font-weight-light">{{ car.mark }}</h4>
            <p class="card-text">Двигатель: {{ car.engine }}</p>
  
            <p class="card-text">Цена: {{ car.price }} р/сутки</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'car_info' pk=car.pk %}" class="btn  btn-warning btn-lg btn-block">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
  {% endif %} 
  </div>

</div>
</div>

</div>


</div>
{% endblock %}